.yourBusinessEmail {
  width: 154px;
  height: 26px;
  position: relative;
  line-height: 26px;
  display: flex;
  font-weight: 700;
  align-items: flex-end;
  justify-content: center;
}
.yourBusinessEmailWrapper {
  height: 38px;
  width: 154px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.getStarted {
  height: 20px;
  width: 89px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 20px;
  display: flex;
  font-weight: 700;
  font-family: var(--font-chivo);
  color: var(--white);
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}
.box,
.button,
.button1 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  background-color: var(--purple-purple);
  padding: var(--padding-mini) var(--padding-11xl);
  white-space: nowrap;
  z-index: 1;
}
.button1:hover {
  background-color: var(--color-mediumslateblue-100);
}
.box,
.button {
  width: 480px;
}
.box {
  background-color: var(--white);
  border: 1px solid var(--greyscale-grey-pale);
  box-sizing: border-box;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-5xl);
  gap: var(--gap-125xl);
}
.button {
  height: 66px;
  background-color: var(--color-gray-200);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--greyscale-grey-pale);
  font-family: var(--font-chivo);
}
