.bg {
  width: 1440px;
  position: relative;
  background-color: var(--greyscale-dark-grey);
  height: 352px;
  display: none;
}
.readyToGet,
.theFastestAnd {
  position: relative;
  display: inline-block;
  font-weight: 700;
  z-index: 2;
}
.readyToGet {
  margin: 0;
  width: 498px;
  height: 54px;
  font-size: inherit;
  line-height: 54px;
  font-style: italic;
  font-family: inherit;
}
.theFastestAnd {
  width: 480px;
  height: 56px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-silver-100);
}
.equationEditor,
.readyToGetStartedParent {
  width: 498px;
  height: 126px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.equationEditor {
  height: 224px;
  gap: var(--gap-13xl);
}
.patternChild,
.patternItem {
  position: relative;
  background-color: var(--purple-purple-pale);
  display: none;
}
.patternChild {
  width: 39.8px;
  height: 38px;
  transform: rotate(180deg);
  z-index: 0;
}
.patternItem {
  width: 63.2px;
  height: 60.3px;
  z-index: 1;
}
.patternElement,
.patternElement1 {
  position: absolute;
  margin: 0 !important;
  background-color: var(--color-midnightblue-100);
  transform-origin: 0 0;
}
.patternElement {
  height: 53.9px;
  width: 53.9px;
  top: 0;
  left: 53.9px;
  transform: rotate(90deg);
}
.patternElement1 {
  height: 35.1px;
  width: 35.1px;
  right: -35.1px;
  bottom: 69.2px;
  transform: rotate(180deg);
}
.patternElement2,
.patternElement3,
.patternElement4 {
  height: 112.4px;
  width: 112.4px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(90deg);
}
.patternElement3,
.patternElement4 {
  height: 23.4px;
  width: 23.4px;
  transform: rotate(180deg);
}
.patternElement4 {
  height: 49.2px;
  width: 49.2px;
}
.patternElementGroup {
  width: 112.4px;
  height: 49.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-20xl-8);
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.patternElement5 {
  width: 63.2px;
  height: 63.2px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(180deg);
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.frameGroup,
.patternElementParent {
  height: 112.4px;
  width: 112.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.patternElementParent {
  width: 367.6px;
  flex-direction: row;
  gap: var(--gap-123xl-8);
}
.patternElement6 {
  width: 74.9px;
  height: 74.9px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(90deg);
}
.patternElementWrapper {
  height: 74.9px;
  width: 86.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs-7) 0 0;
  box-sizing: border-box;
}
.patternElement7 {
  height: 93.7px;
  width: 93.7px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(90deg);
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.patternElementContainer {
  width: 117px;
  height: 93.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl-3) 0 0;
  box-sizing: border-box;
}
.patternElement8 {
  width: 23.4px;
  height: 23.4px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(180deg);
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.finiteDifferenceFinder {
  height: 168.5px;
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-32xl-4);
}
.patternElement9 {
  height: 84.3px;
  width: 84.3px;
  position: relative;
  background-color: var(--color-midnightblue-100);
  transform: rotate(180deg);
}
.frameContainer,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.frameContainer {
  width: 339.5px;
  height: 168.6px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-6xl-8);
}
.frameParent {
  height: 281px;
  width: 367.6px;
  flex-direction: column;
  align-items: flex-start;
}
.pattern,
.patternWrapper {
  width: 529.1px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.pattern {
  height: 281px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-36xl) 0 var(--padding-87xl-5);
  position: relative;
  opacity: 0.35;
  z-index: 2;
}
.patternWrapper {
  height: 288px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.equationEditorParent {
  width: 1148.3px;
  height: 288px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-102xl-2);
}
.separto {
  width: 1113px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 2;
}
.formulaFactory {
  width: 1440px;
  height: 353px;
  background-color: var(--greyscale-dark-grey);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-108xl-7) 0 var(--padding-145xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--white);
  font-family: var(--font-chivo);
}
