.patternIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.illustrationsChild {
  width: 248px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  height: 129px;
  display: none;
  z-index: 0;
}
.instagram {
  height: 23.8px;
  width: 92px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  font-weight: 700;
  flex-shrink: 0;
  z-index: 2;
}
.frameChild,
.instagramIcon {
  position: absolute;
  overflow: hidden;
}
.frameChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
.instagramIcon {
  top: 18.9px;
  left: 20px;
  width: 40px;
  height: 39.7px;
  z-index: 2;
}
.vectorParent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.instagramParent {
  width: 228px;
  height: 59.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-9) var(--padding-41xl) var(--padding-lgi-8)
    var(--padding-57xl);
  box-sizing: border-box;
  position: relative;
}
.socialDivider {
  width: 28.8px;
  height: 19.8px;
  position: absolute;
  margin: 0 !important;
  top: 43.2px;
  left: 76px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  display: inline-block;
  font-weight: 700;
  z-index: 2;
}
.frameItem,
.illustrationsInner {
  height: 1px;
  box-sizing: border-box;
}
.frameItem {
  width: 201px;
  position: relative;
  border-top: 1px solid var(--greyscale-grey-pale);
  z-index: 1;
}
.illustrationsInner {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
}
.socialIconPlaceholders,
.socialIconPlaceholders1 {
  width: 86px;
  height: 6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--greyscale-grey-pale);
  z-index: 1;
}
.frameDiv,
.socialIconPlaceholdersParent {
  height: 19.9px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialIconPlaceholdersParent {
  width: 86px;
  flex-direction: column;
  gap: var(--gap-5xs-9);
}
.frameDiv {
  width: 106px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.footerBackground {
  width: 52px;
  height: 6px;
  position: absolute;
  margin: 0 !important;
  right: 20px;
  bottom: 20.3px;
  border-radius: var(--br-3xs);
  background-color: var(--greyscale-grey-pale);
  z-index: 1;
}
.illustrations,
.illustrationsItem {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
}
.illustrations {
  width: 248px;
  height: 130px;
  margin: 0 !important;
  position: absolute;
  bottom: 174px;
  left: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0 var(--padding-xl-3);
  box-sizing: border-box;
  gap: var(--gap-mini-4);
  z-index: 2;
  font-size: var(--font-size-lg);
}
.illustrationsItem {
  width: 300px;
  position: relative;
  height: 204px;
  display: none;
}
.chartLabelItems,
.dataAnalytics,
.k,
.k1,
.k2,
.k3 {
  width: 97px;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.chartLabelItems,
.k,
.k1,
.k2,
.k3 {
  width: 18px;
  height: 12px;
  line-height: 120%;
}
.chartLabelItems {
  width: 7px;
}
.kParent {
  height: 120px;
  width: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.labelLinkerChild,
.sequenceControllerChild {
  position: absolute;
  top: 33px;
  left: 0;
  border-top: 1px solid var(--greyscale-grey-pale);
  box-sizing: border-box;
  width: 236px;
  height: 1px;
  opacity: 0.2;
  z-index: 1;
}
.sequenceControllerChild {
  margin: 0 !important;
  top: 6px;
  left: -93px;
}
.fillPropertyChild {
  width: 70px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--purple-purple-pale);
  height: 33px;
  display: none;
}
.k4,
.visitor {
  width: 21.5px;
  height: 13px;
  position: relative;
  line-height: 110%;
  display: inline-block;
  font-weight: 700;
  z-index: 5;
}
.visitor {
  width: 25.2px;
  height: 9px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-100);
}
.seriesProcessor {
  height: 23px;
  width: 25.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.dataMappingChild {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 5;
}
.dataMapping,
.fillProperty {
  height: 18px;
  width: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.fillProperty {
  height: 33px;
  width: 70px;
  border-radius: var(--br-9xs);
  background-color: var(--purple-purple-pale);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-5xs);
  gap: var(--gap-mini-8);
  z-index: 4;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.sizeAdjustorChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 10px;
  object-fit: contain;
  z-index: 3;
}
.sizeAdjustorItem {
  position: absolute;
  top: 14px;
  left: 8px;
  border-radius: 50%;
  background-color: var(--purple-purple-pale);
  border: 0 solid var(--purple-purple);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  z-index: 3;
}
.sizeAdjustor {
  height: 22px;
  width: 24px;
  position: relative;
}
.frameParent,
.sequenceController {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  height: 101px;
  width: 235px;
  margin: 0 !important;
  bottom: -87px;
  left: -90px;
  padding: var(--padding-5xs) var(--padding-79xl) var(--padding-52xl)
    var(--padding-94xl);
  box-sizing: border-box;
}
.sequenceController {
  top: 0;
  left: 93px;
  width: 70px;
  height: 33px;
}
.labelLinker {
  width: 235px;
  height: 34px;
  position: relative;
}
.frameChild1,
.frameChild2,
.lineDiv {
  width: 236px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--greyscale-grey-pale);
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 1;
}
.labelLinkerParent,
.logicBranch,
.outputCollector {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelLinkerParent {
  height: 115px;
  width: 235px;
  flex-direction: column;
  gap: var(--gap-7xl);
  font-size: var(--font-size-xs);
  color: var(--white);
}
.logicBranch,
.outputCollector {
  width: 265px;
}
.outputCollector {
  height: 120px;
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xs);
  color: var(--greyscale-grey);
}
.logicBranch {
  height: 152px;
  flex-direction: column;
  gap: var(--gap-sm);
}
.apr,
.jul,
.jun,
.mar,
.may {
  height: 12px;
  width: 21px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.apr,
.jul,
.jun,
.may {
  width: 18px;
}
.jul,
.jun,
.may {
  width: 22px;
}
.jul,
.jun {
  width: 18px;
}
.jul {
  width: 15px;
}
.bufferManager,
.dataStack {
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bufferManager {
  width: 229px;
  justify-content: flex-start;
  gap: var(--gap-14xl-8);
}
.dataStack {
  width: 235px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--greyscale-grey);
}
.illustrations1,
.illustrationsWrapper {
  height: 204px;
  display: flex;
  box-sizing: border-box;
}
.illustrations1 {
  width: 300px;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-lgi) var(--padding-base)
    var(--padding-base);
  gap: var(--gap-5xs);
  z-index: 2;
}
.illustrationsWrapper {
  width: 313px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 0;
}
.rectangleDiv {
  width: 180px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  height: 176px;
  display: none;
}
.salesStats {
  width: 76px;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.redBlackTreeChild {
  height: 67px;
  width: 67px;
  position: relative;
  z-index: 1;
}
.binarySearchTree,
.dataTree,
.redBlackTree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.redBlackTree {
  width: 111px;
  height: 67px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-25xl);
  box-sizing: border-box;
}
.binarySearchTree,
.dataTree {
  height: 95px;
}
.binarySearchTree {
  width: 111px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.dataTree {
  width: 113px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frameChild3,
.frameChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--greyscale-grey-pale);
  width: 20px;
  height: 6px;
  z-index: 1;
}
.frameChild4 {
  top: 14px;
}
.rectangleParent {
  height: 20px;
  width: 20px;
  position: relative;
}
.frameChild5,
.frameChild6 {
  width: 122px;
  height: 6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--greyscale-grey-pale);
  z-index: 1;
}
.linkedList,
.rectangleGroup {
  height: 20px;
  width: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.linkedList {
  width: 152px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.illustrations2,
.illustrationsChild1 {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
}
.illustrations2 {
  width: 180px;
  height: 176px;
  margin: 0 !important;
  position: absolute;
  top: 27.5px;
  left: -3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm) var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
  z-index: 2;
}
.illustrationsChild1 {
  width: 203px;
  position: relative;
  height: 76px;
  display: none;
}
.slack1Icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.subscribeLabel,
.totalSubscribe {
  width: 106px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.subscribeLabel {
  width: 61px;
  height: 24px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.quickSort {
  height: 45px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.binaryHeap,
.illustrations3 {
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.illustrations3 {
  width: 203px;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-mini);
  gap: var(--gap-xs);
  z-index: 2;
}
.binaryHeap {
  width: 236px;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) 0 0;
}
.illustrationsChild2 {
  width: 127px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  height: 100px;
  display: none;
}
.dailyVisitor,
.visitorLabel {
  width: 82px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.visitorLabel {
  width: 74px;
  height: 40px;
  font-size: var(--font-size-11xl);
  line-height: 40px;
}
.illustrations4,
.illustrationsChild3 {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
}
.illustrations4 {
  height: 100px;
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  z-index: 2;
}
.illustrationsChild3 {
  width: 236px;
  position: relative;
  height: 152px;
  display: none;
}
.daily,
.revenueGrowth {
  height: 18px;
  width: 112px;
  position: relative;
  line-height: 18px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.daily {
  width: 27px;
  height: 13px;
  line-height: 120%;
}
.bucketSortWithCounting,
.dataProcessor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataProcessor {
  height: 15px;
  width: 27px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-2xs);
  color: var(--greyscale-grey);
}
.bucketSortWithCounting {
  width: 200px;
  height: 18px;
  flex-direction: row;
  gap: var(--gap-42xl);
}
.outputAggregatorChild {
  height: 80px;
  width: 188px;
  position: relative;
  z-index: 1;
}
.outputAggregator {
  width: 192px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.heapSort,
.illustrations5 {
  width: 236px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.illustrations5 {
  height: 152px;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-1);
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl) var(--padding-base)
    var(--padding-base);
  gap: var(--gap-3xl);
  z-index: 2;
}
.heapSort {
  height: 154px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.patternParent,
.priorityQueue,
.selectionSort {
  width: 395px;
  height: 154px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.patternParent,
.priorityQueue {
  height: 262px;
  flex-direction: column;
}
.patternParent {
  width: 556px;
  height: 540px;
  padding: 0 var(--padding-15xl) var(--padding-23xl-5);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xl-5);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--greyscale-dark-grey);
  font-family: var(--font-chivo);
}
