.logoIcon {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dataAggregator {
  width: 52.1px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-1);
  box-sizing: border-box;
}
.theFastestAnd {
  height: 78px;
  width: 344px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  font-weight: 700;
  flex-shrink: 0;
  z-index: 1;
}
.listComponent {
  width: 346.1px;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-1);
  box-sizing: border-box;
}
.iconSystem {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.decisionTree {
  height: 25px;
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.hellodhuhacreativecom {
  height: 26px;
  width: 202px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.outputDistributor {
  width: 236.1px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs-1);
}
.iconslack {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.functionCaller {
  height: 23px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.joinOurSlack {
  height: 26px;
  width: 196px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.sliderControl {
  height: 26px;
  width: 228px;
  flex-direction: row;
  gap: var(--gap-xs);
}
.dividerElement,
.sliderControl,
.variableHolder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.variableHolder {
  width: 230.1px;
  height: 26px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs-1);
  box-sizing: border-box;
}
.dividerElement {
  width: 236.1px;
  height: 64px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.listComponentParent {
  height: 166px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.dataAggregatorParent,
.frameWrapper,
.listComponentParent {
  width: 346.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dataAggregatorParent {
  height: 232px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameWrapper {
  height: 246px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.benefits,
.features,
.landingPages,
.pricing,
.product {
  width: 62px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.benefits,
.features,
.landingPages,
.pricing {
  width: 111px;
  height: 26px;
  line-height: 26px;
}
.benefits,
.features,
.pricing {
  width: 55px;
}
.benefits,
.features {
  width: 64px;
}
.features {
  width: 70px;
}
.landingPagesParent,
.tableComponent {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.landingPagesParent {
  height: 140px;
  gap: var(--gap-xs);
  color: var(--greyscale-grey-pale);
}
.tableComponent {
  height: 176px;
  gap: var(--gap-base);
}
.company {
  width: 72px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
}
.about,
.contact,
.partners,
.privacyPolicy,
.termsConditions {
  width: 46px;
  height: 26px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.contact,
.partners,
.privacyPolicy,
.termsConditions {
  width: 108px;
}
.contact,
.partners,
.termsConditions {
  width: 149px;
}
.contact,
.partners {
  width: 69px;
}
.contact {
  width: 61px;
}
.geometricShapes {
  height: 212px;
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-4);
}
.blog,
.guidesAndResources,
.resources,
.support,
.tools {
  position: relative;
  display: inline-block;
  font-weight: 700;
  z-index: 1;
}
.resources {
  width: 83px;
  height: 20px;
  line-height: 20px;
  color: var(--white);
}
.blog,
.guidesAndResources,
.support,
.tools {
  width: 169px;
  height: 26px;
  line-height: 26px;
}
.blog,
.support,
.tools {
  width: 34px;
}
.support,
.tools {
  width: 42px;
}
.support {
  width: 63px;
}
.mapVisualization {
  height: 174px;
  width: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
}
.graphVisualization {
  height: 212px;
  width: 361px;
  align-items: flex-start;
  gap: var(--gap-24xl);
  color: var(--greyscale-grey-pale);
}
.frameParent,
.gradientDescentGuruAdvanced,
.graphVisualization,
.treeStructure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.treeStructure {
  height: 212px;
  width: 553px;
  align-items: flex-start;
  gap: var(--gap-62xl);
  color: var(--white);
}
.frameParent,
.gradientDescentGuruAdvanced {
  height: 246px;
}
.frameParent {
  width: 1116.1px;
  align-items: flex-end;
  gap: var(--gap-198xl);
}
.gradientDescentGuruAdvanced {
  width: 1278px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-142xl-9);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--greyscale-grey-pale);
  font-family: var(--font-chivo);
}
